@font-face {
  font-family: 'Gibson';
  font-style: 'normal';
  font-weight: 300;
  src: url('../fonts/gibson-light.otf');
}
@font-face {
  font-family: 'Gibson';
  font-style: 'normal';
  font-weight: 400;
  src: url('../fonts/gibson-regular.otf');
}

/*@font-face {
  font-family: 'GibsonBold';
  src: url('http://bagidelo.dev/public/fonts/Gibson%Bold%Typeface.otf'); 
}*/